.jumbotron {
    background-image: url('../images/tourDeFrance.jpg');
    background-size: cover;
    height: 100%;
    color: white;
}

.jumbotron .display-4 {
    font-family: 'Staatliches', cursive;
    font-size: 110px;
    text-align: center;
    margin: auto;
    text-shadow: black 5px 0 15px;
}

.jumbotron .lead {
    font-size: 20px;
    text-shadow: black 5px 0 15px;
    text-align: center;
}

.startButton {
    text-align: center;
}

body {
    background-color:  #f7f7f7; 
}

#background {
    background-color:  #f7f7f7;
    padding: 20px;
    margin: auto;
}

#form button  {
    margin: 5px;
    background-color: white;
}

#form button:hover {
    background-color: #6D757D;
}